@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Fatura
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="margin: 10px">Yeni Fatura Ekleme</h2>
<form class="from-group" method="post">
    @Html.Label("Seri No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Sıra No")
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Saat")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.Label("Toplam Tutar")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim eden")
    @Html.DropDownListFor(x => x.TeslimEden, (List<SelectListItem>)ViewBag.pers, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />
    <button style="margin-top: 20px" class="btn btn-info">Kaydet</button>
</form>

