@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Fatura
@{
    ViewBag.Title = "FaturaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="margin: 10px">Fatura Güncelleme Sayfası</h2>

@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FaturaId)
    @Html.Label("Seri No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Sıra No")
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Saat")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Eden")
    @Html.DropDownListFor(x => x.TeslimEden, (List<SelectListItem>)ViewBag.pers, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}

