@model MvcOnlineTicariOtomasyon.Models.Sınıflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="margin: 10px">Yeni Satış Sayfası</h2>
<form class="form-group" method="post">
    @Html.Label("Ürün Adı")
    @Html.DropDownListFor(x => x.UrunId, (List<SelectListItem>)ViewBag.urn, new { @class = "form-control" })
    <br />
    @Html.Label("Cari")
    @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.cri, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.pers, new { @class = "form-control" })
    <br />
    @Html.Label("Adet")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.Label("Toplam Tutar")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Satış Yap</button>

</form>

